/* ========================================
   MIXINS SCSS
   ======================================== */

// Media queries
@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// Position absolute center
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Responsive font size avec clamp
@mixin responsive-font($min, $max) {
  font-size: clamp(
    #{$min},
    calc(#{$min} + (#{$max} - #{$min}) * ((100vw - 320px) / (1200 - 320))),
    #{$max}
  );
}

// Transitions
@mixin transition($properties...) {
  transition: $properties $transition-normal;
}

// Image responsive
@mixin img-responsive($fit: cover) {
  width: 100%;
  height: 100%;
  object-fit: $fit;
}
