@charset "UTF-8";
/* ========================================
   VARIABLES SCSS
   ======================================== */
/* ========================================
   MIXINS SCSS
   ======================================== */
/* ========================================
   PLACEHOLDERS SCSS
   ======================================== */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900");
.notfound-container, .note, .profile, .fiche-profile, .pill, footer, .gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel, .card, .banner {
  position: relative;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ========================================
   GÉNÉRAL
   ======================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
}

.container-global {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex: 1;
  margin: 0 auto;
  padding-top: 45px;
  max-width: 80vw;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    gap: 30px;
    padding-top: 30px;
    max-width: 90vw;
  }
}
@media (max-width: 767px) {
  .container {
    gap: 20px;
    padding-top: 20px;
    max-width: 95vw;
  }
}

/* ========================================
   NAVIGATION
   ======================================== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 68px;
  width: 100%;
}
nav ul {
  display: flex;
  gap: 57px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  nav ul {
    gap: 30px;
  }
}
@media (max-width: 767px) {
  nav ul {
    gap: 15px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  nav {
    max-width: 335px;
    gap: 20px;
  }
}

.logo img {
  max-width: 210.32px;
}
@media (max-width: 767px) {
  .logo img {
    max-width: 145px;
  }
}

.link {
  text-decoration: none;
  line-height: 143%;
  font-weight: 500;
  color: #000;
  transition: color, opacity 300ms ease-in-out;
}
@media (max-width: 767px) {
  .link {
    font-size: 16px;
  }
}

.link:hover,
.nav-active {
  text-decoration: underline;
}

/* ========================================
   BANNER
   ======================================== */
.banner {
  width: 100%;
  height: 223px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 180px;
  }
}
@media (max-width: 767px) {
  .banner {
    height: 111px;
    max-width: 340px;
  }
}
.banner .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 10px;
}
.banner .banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  width: 100%;
  z-index: 1;
  font-size: 48px;
  font-weight: 700;
  line-height: 143%;
  color: #fff;
  white-space: nowrap;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner .banner-title {
    font-size: 36px;
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .banner .banner-title {
    width: 100%;
    font-size: 24px;
    white-space: normal;
    line-height: 100%;
    padding: 10px;
    text-align: start;
    padding: 0 100px 0 10px;
  }
}

/* ========================================
   HOME PAGE GALLERY
   ======================================== */
.gallery {
  flex-wrap: wrap;
  gap: 30px;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery {
    padding: 30px 20px;
    gap: 30px;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .gallery {
    padding: 0 10px;
    gap: 20px;
    background-color: #fff;
  }
}

.gallery a {
  border-radius: 10px;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .gallery a {
    max-width: 47.6%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 340px;
  max-width: 340px;
  min-height: 340px;
  aspect-ratio: 1/1;
  background-color: #ff6060;
  color: #fff;
  border-radius: 10px;
  transition: transform 300ms ease-in-out;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: fit-content;
    min-height: 310px;
  }
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 2;
  pointer-events: none;
}
.card:hover {
  transform: scale(1.05);
}
@media (max-width: 767px) {
  .card:hover {
    transform: none;
  }
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 3;
  font-size: 18px;
  line-height: 143%;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  .card-title {
    bottom: 15px;
    left: 15px;
  }
}

/* ========================================
   FOOTER
   ======================================== */
footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 50px 0 0 0;
  padding: 20px;
  color: #fff;
  background-color: #000;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    margin: 30px 0 0 0;
    flex-grow: 2;
  }
}
@media (max-width: 767px) {
  footer {
    margin: 20px 0 0 0;
    flex-grow: 2;
    padding: 20px 10px;
  }
}

.logo-footer {
  padding: 20px;
}
@media (max-width: 767px) {
  .logo-footer {
    padding: 10px;
  }
  .logo-footer img {
    max-width: 100px;
  }
}

.rights {
  line-height: 143%;
  font-weight: 500;
  padding: 20px;
}
@media (max-width: 767px) {
  .rights {
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
}

/* ========================================
   FICHE LOGEMENT
   ======================================== */
.carousel {
  width: 100%;
  height: 415px;
  border-radius: 10px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel {
    height: 340px;
  }
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #fff;
  font-size: 48px;
  cursor: pointer;
  z-index: 1;
  transition: opacity, transform 300ms ease-in-out;
  padding: 20px;
}
.carousel-arrow:hover {
  opacity: 0.8;
  transform: translateY(-50%) scale(1.1);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .carousel-arrow {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .carousel-arrow {
    font-size: 24px;
  }
}
.carousel-arrow svg {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
}

.carousel-arrow-left {
  left: 30px;
}
@media (max-width: 767px) {
  .carousel-arrow-left {
    left: 20px;
  }
}

.carousel-arrow-right {
  right: 30px;
}
@media (max-width: 767px) {
  .carousel-arrow-right {
    right: 20px;
  }
}

.carousel-counter {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1;
}
@media (max-width: 767px) {
  .carousel-counter {
    font-size: 16px;
    bottom: 20px;
    padding: 5px 10px;
  }
}

.fiche-presentation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: end;
  width: 100%;
  gap: 20px;
}
@media (max-width: 767px) {
  .fiche-presentation {
    flex-direction: column;
  }
}

.fiche-title-pills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 767px) {
  .fiche-title-pills {
    min-width: 95vw;
    gap: 20px;
  }
}

.fiche-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.title {
  font-size: 36px;
  line-height: 143%;
  font-weight: 500;
  color: #ff6060;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .title {
    max-width: 80%;
    font-size: 18px;
  }
}

.lieu {
  font-size: 18px;
  line-height: 143%;
  font-weight: 500;
  color: #000;
}
@media (max-width: 767px) {
  .lieu {
    font-size: 14px;
  }
}

.fiche-pills {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .fiche-pills {
    gap: 10px;
  }
}

.pill {
  min-width: 115px;
  width: auto;
  max-height: 25px;
  background-color: #ff6060;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .pill {
    min-width: 80px;
    font-size: 10px;
    padding: 8px 12px;
  }
}

.pill-name {
  color: #fff;
  line-height: 143%;
  text-overflow: ellipsis;
}

.fiche-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .fiche-profile {
    align-items: end;
  }
}
@media (max-width: 767px) {
  .fiche-profile {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.profile {
  gap: 10px;
}
@media (max-width: 767px) {
  .profile {
    order: 2;
  }
}

.profile-name {
  width: 93px;
  color: #ff6060;
  font-size: 18px;
  line-height: 143%;
  text-align: right;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .profile-name {
    text-align: left;
  }
}
@media (max-width: 767px) {
  .profile-name {
    font-size: 16px;
    width: auto;
  }
}

.profile-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgb(196, 196, 196);
}
@media (max-width: 767px) {
  .profile-picture {
    width: 48px;
    height: 48px;
    order: 2;
  }
}

.note {
  gap: 5px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .note {
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .note {
    order: 1;
    gap: 10px;
  }
}

.note .star-filled {
  width: 36px;
  font-size: 36px;
  color: #ff6060;
}
@media (max-width: 767px) {
  .note .star-filled {
    width: 24px;
    font-size: 24px;
  }
}

.star-empty {
  width: 36px;
  font-size: 36px;
  color: #e3e3e3;
}
@media (max-width: 767px) {
  .star-empty {
    width: 24px;
    font-size: 24px;
  }
}

.desc-equip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: normal;
  gap: 50px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .desc-equip {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .desc-equip {
    flex-direction: column;
    gap: 20px;
  }
}

.desc-equip-art {
  flex: 1;
}

.markdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  background-color: #ff6060;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 143%;
  padding: 10px 20px 10px 10px;
  cursor: pointer;
}
.markdown:hover {
  background-color: rgb(255, 70.5, 70.5);
}
@media (max-width: 767px) {
  .markdown {
    border-radius: 5px;
    font-size: 14px;
    height: auto;
    max-height: 30px;
    padding: 10px;
  }
}

.markdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}
.markdown-arrow svg {
  width: 32px;
  height: 32px;
  transition: transform 300ms ease-in-out;
}
@media (max-width: 767px) {
  .markdown-arrow svg {
    width: 24px;
    height: 24px;
  }
}

.markdown-arrow.markdown-active {
  transform: rotate(-180deg);
}

.markdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}

.markdown-open {
  max-height: 1000px;
  transition: max-height 0.4s ease-in-out;
}

.markdown-child {
  background: #f6f6f6;
  border-radius: 10px 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 143%;
  margin: 0;
  padding: 20px;
  flex: 1;
}
@media (max-width: 767px) {
  .markdown-child {
    font-size: 12px;
    padding: 15px;
    border-radius: 5px;
  }
}

.markdown-child-item {
  list-style: none;
}

.visible {
  display: block;
  opacity: 1;
}

/* ========================================
   404 NOT FOUND
   ======================================== */
.notfound-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #ff6060;
}

.notfound-title {
  margin: 0;
  font-size: clamp(100px, 100px + (288px - 100px) * (100vw - 320px) / 880, 288px);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .notfound-title {
    font-size: clamp(80px, 15vw, 200px);
  }
}
@media (max-width: 767px) {
  .notfound-title {
    font-size: clamp(60px, 25vw, 150px);
  }
}

.notfound-text {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 143%;
  vertical-align: bottom;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .notfound-text {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .notfound-text {
    font-size: 20px;
    padding: 0 20px;
  }
}

.notfound-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 143%;
  color: #000;
  text-decoration: underline;
  transition: opacity 300ms ease-in-out;
}
.notfound-btn:hover {
  opacity: 0.7;
}
@media (max-width: 767px) {
  .notfound-btn {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
